html, body {
	height:100%;
	width:100%;
	background:#660000;
}

h1 {
	text-align:center;
	color:#c8c8c8;
	font-family:"Avenir Black"
}

.col {
	position:relative;
	width:33%;
	height:100%;
	float:left;
	margin:0%;
	text-align:center;
}

img {
	position:absolute;
	margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:30%;
	height:auto;
}
