html, body {
	height:100%;
	width:100%;
}

.col {
	position:relative;
	width:33%;
	height:100%;
	float:left;
	margin:0%;
	background:#f0f0f0;
}

img {
	position:absolute;
	margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:150px;
	height:150px;
}
